[user]
	name = Ali Torbati
	# Commits are associated with a username via email.
	# This is a global email, but you can set a specific email
	# within a repo with `git config user.email "email@example.com"`.
	# More info: https://docs.github.com/en/free-pro-team@latest/github/setting-up-and-managing-your-github-user-account/setting-your-commit-email-address
	email = ali.torbati@gmail.com
[branch]
	autosetuprebase = always
	autosetupmerge = always # https://stackoverflow.com/a/29928863/2122060
[pull]
	rebase = true
[rebase]
	autoStash = true
[push]
	default = current
[stash]
	showPatch = true
	showStat = true
[alias]
	# test colors: git log --pretty=format:"%Credred%Creset %Cgreengreen%Creset %C(Yellow)yellow%Creset %Cblueblue%Creset %C(magenta)magenta%Creset %C(cyan)cyan%Creset %C(reverse)Reverse%Creset %C(white)white%Creset"
	st = status
	di = diff --relative --ignore-space-change --color-moved -- ":(exclude)*/dist/*" ":(exclude)*.min.js" ":(exclude)*.min.css"
	dw = diff --relative --ignore-space-change --color-moved --color-words -- ":(exclude)*/dist/*" ":(exclude)*.min.js" ":(exclude)*.min.css"
	dc = diff --relative --ignore-space-change --color-moved --cached
	lg = log --graph --decorate --color --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset%C(yellow)%d%Creset %Cgreen(%cr)%Creset %s'
	sl = stash list --pretty=format:'%Cred%gd%Creset - %C(white)%s'
	sldangling = log --graph --oneline --decorate $(git fsck --no-reflog | awk '/dangling commit/ {print $3}') # autostashes
	cf = diff-tree -r --no-commit-id --name-status # append with diff hash to see changed files
	recap = !git lg --author="$(git config --get user.email)" # prepend "!" to run external commands
	amend = commit --amend --no-edit
	unadd = reset
	olog = log origin/master..HEAD
	odiff = diff origin/master..HEAD
	rebase-main = pull --rebase origin main
[color "branch"]
	current = green
	local = yellow
	remote = red
[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
[color]
	ui = auto
[diff]
	colorMoved = default
[url "git@github.com:signalsciences"]
	insteadOf = https://github.com/signalsciences
[url "git@github.com:fastly"]
	insteadof = https://github.com/fastly
